node_modules
.DS_Store
dist
dist-ssr
*.local

yarn-error.log*
.pnpm-debug.log*

old
backend
# TS
*.tsbuildinfo

# Turbo
.turbo

.vscode/settings.json

stats.*

# Test
coverage/

# ESLint
.eslintcache
